/* public/css/styles.css
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #21793e;
    color: #fff;
}

h1 {
    margin: 0;
}

#projects {
    padding: 2rem;
}

.project-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
} */

html {
    scroll-behavior: smooth;
}
